body {
  background-color: #faf1d8;
  font-family: 'Reggae One', cursive;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

#refreshText {
  font-size: 40px;
}

p {
  font-size: 2rem;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  text-align: center;
}

#roll {
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px auto;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  font-family: 'Reggae One', cursive;
  background-color: #9c060c;
  border: none;
  outline: none;
  color: #faf1d8;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

#roll:hover {
  background-color: #7a0408;
}

#roll:active {
  background-color: #7a0408;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}